$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(/assets/images/noise_transparent@2x.png), 
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
#211F20;

$footer-gradient-background: url(/assets/images/noise_transparent@2x.png), 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;

$card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@mixin h2 {
    font: {
        family: Georgia;
        size: 44px;
        weight: normal;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        size: 35px;
        weight: normal;
        style: normal;
    }
    line-height: 130%;
    letter-spacing: 0.13125rem;
}

@mixin h3-mobile {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 25px;
    }
    letter-spacing: 0.06em;
    line-height: 130%;
}

@mixin h4 {
    font: {
        family: Georgia;
        size: 20px;
        weight: normal;
        style: normal;
    }
    line-height: 115%;
    letter-spacing: 0.075rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        size: 15px;
        weight: normal;
        style: normal;
    }
    line-height: 110%;
    letter-spacing: 0.05625rem;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        size: 15px;
        style: normal;
        weight: normal;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        size: 12px;
        style: italic;
        weight: normal;
    }
    line-height: 150%;
}

@mixin logo-title {
    font: {
        family: Georgia;
        size: 32px;
        style: normal;
        weight: normal;
    }
    line-height: 110%;
    letter-spacing: 0.12rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        size: 13px;
        style: normal;
        weight: normal;
    }
    letter-spacing: 0.08125rem;
}

@mixin slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0 0 0 2px $color-primary-color;
    border-radius: 100%;
    transition-duration: 0.5s;
    width: 52px;
    height: 52px;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    
    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }
}

@mixin slider_button_disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0 0 0 2px $color-dark-s;
    border-radius: 100%;
    transition-duration: 0.5s;
    width: 52px;
    height: 52px;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
}

@mixin button() {
    font-family: Georgia;
    padding: 15px 45px;
    font-size: 17px;
    border-radius: 100px;
    line-height: 130%;
    letter-spacing: 0.06375rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition-duration: 0.5s;
}

@mixin button_primary() {
    background-color: $color-primary-color;

    &:hover {
        background-color: $color-primary-light;
    }

    @include button;
}

@mixin button_secondary() {
    background-color: transparent;
    box-shadow:inset 0 0 0 2px $color-primary-color;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }
    
    @include button;
}


:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
    max-width: 1200px;  
}

.header {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 60px;
    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: column;

    &_title {
        color: $color-primary-color;
        @include logo-title;
    }

    &_subtitle {
        margin-top: 10px;
        text-align: center;
        color: $color-light-xl;
        @include logo_subtitle;
    }
}

.navbar {
    
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

    & ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
    }

    & ul li a {
        display: block;
        text-decoration: none;
        color: $color-dark-s;
        @include paragraph-l;
    }
    
    & ul li:first-child{
        border-bottom: 3px $color-primary-color solid;
        color: $color-light-xl;
    }
    
    & ul li:first-child a:first-child {
        color: $color-light-xl;
    }

    & ul li:hover {
        border-bottom: 3px $color-primary-color solid;
    }
    
    & ul li:hover a:hover{
        cursor: pointer;
        color: $color-light-xl;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 180px;
    background: $start-screen-gradient-background;

    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &_image-wrapper {
        display: flex;
    }

    &_image {
        width: 100%;
    }
}

.content-section {
    padding-bottom: 80px;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_title {
        span {
            display: block;
        }

        color: $color-light-xl;
        max-width: 310px;
        @include h2();
    }
    
    &_subtitle {
        margin-top: 42px;
        line-height: 160%;
        color: $color-dark-s;
        @include paragraph-l();
    }
    
    &_button {
        margin-top: 40px;
        max-width: 208px;
        @include button_primary();
    }
}

.about {
    display: flex;

    &_wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 80px 175px 100px 175px;
    }

    & .wrapper {
        justify-content: center;
    }

    &_image-wrapper {
        display: flex;
    }

    &_image {
        width: 100%;
    }

    &_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 430px;
    }

    &_title {
        span {
            display: block;
        }

        color: $color-dark-l;
        @include h3();
    }

    &_description {
        margin-top: 25px;
        p {
            & + p {
                margin-top: 25px;
            }
            color: $color-dark-xl;
            @include paragraph-l();
        }
    }
}

.pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-l;

    &_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_title {
        span {
            display: block;
        }
        max-width: 400px;
        text-align: center;
        color: $color-dark-l;
        @include h3();
    }

    &_content {
        display: flex;
        align-items: center;

        .pets_cards {
            margin: 60px 53px;
            display: flex;
            width: 990px;
            overflow: hidden;
            column-gap: 90px;
        }

        .pets_card {
            display: flex;
            flex-direction: column;
            border-radius: 9px;

            &:hover {
                box-shadow: $card-hover;
            }

            &-image {
                width: 270px;
                height: 270px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 30px;
            }

            &-title {
                margin: 30px 0;
                text-align: center;
                color: $color-dark-l;
                @include h4();
            }

            &-button {
                @include button_secondary();
                color: $color-dark-3xl;
            }
        }

        .slider_button_disabled {
            @include slider_button_disabled();
        }

        .slider_button_reverted {
            transform: rotate(180deg);
            @include slider_button();
        }
    }

    &_button {
        letter-spacing: 0.06rem;
        @include button_primary();
    }
}

.help {
    padding-top: 80px;
    padding-left: 3px;
    padding-bottom: 70px;

    &_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    &_title {
        max-width: 400px;
        text-align: center;
        color: #545454;
        font-family: Georgia;
        font-size: 35px;
        font-weight: normal;
        font-style: normal;
        line-height: 130%;
        letter-spacing: 0.13125rem;

        & span {
            display: block;
          }
    }

    &_content {
        display: flex;

        .help_cards {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 60px;
            column-gap: 120px;
            row-gap: 25px;
            width: 1030px;
        }

        .help_card {
            display: flex;
            flex-direction: column;

            &-title {
                margin: 30px 0;
                text-align: center;
                color: #545454;
                font-family: Georgia;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                line-height: 115%;
                letter-spacing: 0.075rem;
              }
        }
    }
}
  

.donation {
    display: flex;
    background-color: $color-light-l;

    &_wrapper{
        display: flex;
        justify-content: space-between;
        
        padding-top: 80px; 
        padding-bottom: 99px; 
    }

    & .wrapper {
        justify-content: center;
    }

    &_image-wrapper {
        display: flex;
        margin: 12px 0;
    }

    &_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 380px;
        margin-left: 30px;
    }

    &_title {
        span {
            display: block;
        }

        color: $color-dark-l;
        @include h3();
        margin-bottom: 20px;
    }

    &_description {
        @include h5();
        color: $color-dark-l;
        margin-bottom: 20px;
    }

    &_link {
        display: flex;
        padding: 10px 0px 10px 15px;
        @include h4();
        color: $color-dark-l;
        text-decoration: none;
        border-radius: 9px;
        background-color: $color-primary-color;
        transition-duration: 0.5s;
        max-width: 348px;
     
        & img {
            padding-right: 14px;
        }
    }

    &_link:hover {
        background-color: $color-primary-light;
        
    }

    &_information {
        margin-top: 20px;
        color: $color-dark-m;
        line-height: 112.5%;
        font-weight: 400px;
        @include paragraph-s();

    }
}

.footer {
    background: $footer-gradient-background;
  

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-image {
            max-width: 300px;
            max-height: 310px;
        }
    }

    .content_section {
        display: flex;
        justify-content: space-between;
        padding: 16px 167px 0 0;
        column-gap: 160px;

        &-location a {
            margin-top: 33px;
            margin-bottom: 33px;
        }

        &-contacts a {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        &-title {
            span {
                display: block;
            }

            color: $color-light-xl;
            @include h3();
        }

        &-info {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        &_info-title{
            span {
                display: block;
            }

            margin-left: 20px;
            @include h4();
            color: $color-primary-color;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .wrapper {
        padding: 0 10px;
    }

    .header {
        top: 30px;
    }

    .navbar {
        margin-top: 20px;
        margin-right: 43px;
        background-image: url(../../assets/icons/Burger.svg);
        max-width: 30px;
        max-height: 22px;
    }

    .navbar ul{
        display: none;
    }

    .hero {
        padding-top: 150px;

        &_content {
            display: flex;
            flex-wrap: wrap;
        }

        &_image-wrapper {
            padding: 25px 0px 0 40px;
        }

    }

    .content-section {
        max-width: none;
        align-items: center;

        &_title {
            @include h3-mobile();
            text-align: center;
        }

        &_subtitle {
            text-align: center;
        }

        &_button {
            margin-top: 42px;
        }
    }

    .about {
        &_wrapper {
            flex-wrap: wrap-reverse;
            padding: 42px 0;
        }

        &_title {
            @include h3_mobile();
            text-align: center;
        }

        &_description {
            margin: 26px 15px 0 15px;
            text-align: justify;

            p {
                & + p {
                    margin-top: 22px;
                }
            }
        }

        &_image-wrapper {
            margin: 41px 20px 0.4px 20px;
        }
    }

    .pets {
        padding: 42px 0;

        &_title {
            @include h3-mobile();
        }

        .pets_content {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;

            .pets_cards {
                width: 270px;
                margin: 42px 12px 20px 12px;
            }

            .slider_button_disabled {
                order: 1;
                margin-left: 18px;
            }

            .slider_button_reverted {
                order: 1;
                margin-right: 18px;
            }
        }
        
        &_button {
            margin-top: 42px;
        }
    }

    .help {
        padding: 42px 5px;

        &_title {
            @include h3-mobile();
            text-align: center;
        }

        .help_content {

            .help_cards {
                width: 250px;
                column-gap: 30px;
                row-gap: 30px;
                margin-top: 43px;
                justify-content: space-between;
            }

            .help_card {
                align-items: center;
                height: 87px;
                width: 90px;

                &-title {
                    @include h5();
                    margin: 20px 0;  
                    width: 130px;         
                }

                &-image {
                        width: 50px;
                        height: 50px;
                }
            }
        }
    }

    .donation {
        &_wrapper {
            padding: 42px 0 0 0;
            flex-wrap: wrap-reverse;
        }

        &_image-wrapper {
            margin: 42px auto;
            width: 260px;
        }

        &_image {
            width: 100%;
        }

        &_content {
            margin: 0 auto;
        }

        &_title {
            @include h3-mobile();
            text-align: center;
        }

        &_description {
            @include paragraph-l();
            text-align: center;
            letter-spacing: 0;
        }

        &_link {
            max-width: 281px;
            margin: 0 9px;
            height: 43px;
            padding: 10px 0 10px 15px;
            
            &-text {
                @include h5();
                padding: 3px 0;
            }
        }

        &_information {
            margin: 20px 10px 0 10px;
            text-align: justify;
        }


    }

    .footer {
        &_wrapper {
            padding: 30px 0 0 0;
        }

        .content_section {
            flex-wrap: wrap;
            padding: 0 0 30px 0;

            &-contacts{
                margin: 0 11px;
            }

            &-title {
                @include h3-mobile();
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
        padding: 0 30px;
    }

    .header {
        top: 30px;
    }

    .hero {
        padding-top: 150px;

        &_content {
            flex-direction: column;
            align-items: center;
        }

        &_image-wrapper {
            padding: 0 70px;
        }

        &_image {
            margin: 0 70px;
        }
    }

    .content-section {
        padding-bottom: 59px;

        &_button {
            margin: 42px auto;
        }
    }

    .about {
        &_wrapper {
            padding: 80px 139px 100px 139px;
            flex-direction: column-reverse;
        }

        &_image-wrapper {
            padding-top: 80px;
        }

        &_image {
            margin: 0 65px;
        }
    }

    .pets_content .pets_cards {
        width: 580px;
        margin: 60px 12px;
        column-gap: 40px;
    }

    /*   !Don't work   */
    .help_content  .help_cards {
        justify-content: space-between;
        width: 626px;
        column-gap: 60px;
        row-gap: 25px;
    }

    .donation {
        &_wrapper {
            padding: 80px 100px 102px 100px;
            flex-direction: column-reverse;
            
            .donation_image-wrapper {
                margin: 59px 0 0 0;
            }
        }

        &_content {
            margin: 0 63px;
        }
    }

    .footer {
        &_wrapper {
            padding: 30px 34px 0;
        }

        &_content {
            flex-wrap: wrap;  
        }

        .footer_content-image {
            margin: 25px auto 0 auto;
        }

        .content_section {
            padding: 0;
            column-gap: 60px;

            &-title {
                margin-bottom: 40px;
            }

            &-info {
                margin-bottom: 32px;
                margin-top: -7px;
            }

            &-location {
                .content_section-title {
                    margin: 0;
                }
            }
        }
    }
}
