:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0px;
  padding: 30px 40px;
  background-color: #FFFFFF;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_title {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.12rem;
}

.logo_subtitle {
  margin-top: 10px;
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08125rem;
}

.navbar {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .link_visible {
  color: #292929;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #545454;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
}

.navbar ul li:nth-child(2) {
  border-bottom: 3px #F1CDB3 solid;
  color: #292929;
}

.navbar ul li:hover {
  border-bottom: 3px #F1CDB3 solid;
}

.navbar ul li:hover a:hover {
  cursor: pointer;
  color: #292929;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets {
  padding-top: 118px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}

.pets_wrapper {
  padding-top: 83px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets_title {
  max-width: 400px;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.13125rem;
}

.pets_title span {
  display: block;
}

.pets_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets_content .pets_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 59px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

.pets_content .pets_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
}

.pets_content .pets_card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets_content .pets_card-image {
  width: 100%;
}

.pets_content .pets_card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-left: 2px;
}

.pets_content .pets_card-title {
  margin: 30px 0;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.075rem;
}

.pets_content .pets_card-button {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  font-family: Georgia;
  padding: 15px 45px;
  font-size: 17px;
  border-radius: 100px;
  line-height: 130%;
  letter-spacing: 0.06375rem;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #292929;
}

.pets_content .pets_card-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  max-width: 340px;
}

.pets_navigation-button {
  padding-bottom: 12px;
}

.pets_navigation-button_inactive {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
  border-radius: 100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 52px;
  height: 52px;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  margin-right: 20px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.075rem;
}

.pets_navigation-button_active {
  background: #F1CDB3;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  border-radius: 100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 52px;
  height: 52px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  padding-bottom: 12px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.075rem;
}

.pets_navigation-button_active:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets_navigation-button_reverted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  border-radius: 100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 52px;
  height: 52px;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #292929;
  margin-left: 20px;
  padding-bottom: 12px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.075rem;
}

.pets_navigation-button_reverted:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets_button {
  letter-spacing: 0.06rem;
  background-color: #F1CDB3;
  font-family: Georgia;
  padding: 15px 45px;
  font-size: 17px;
  border-radius: 100px;
  line-height: 130%;
  letter-spacing: 0.06375rem;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets_button:hover {
  background-color: #FDDCC4;
}

.footer {
  max-height: 350px;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.footer_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content-image {
  max-width: 300px;
  max-height: 310px;
}

.footer .content_section {
  margin-top: 18px;
  margin-right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .content_section-title {
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.13125rem;
}

.footer .content_section-title span {
  display: block;
}

.footer .content_section-info {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer .content_section_info-title {
  margin-left: 20px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.075rem;
  color: #F1CDB3;
}

.footer .content_section_info-title span {
  display: block;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0.4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=pets.css.map */