:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0px;
  padding: 30px 40px;
  background-color: #FFFFFF;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_title {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.12rem;
}

.logo_subtitle {
  margin-top: 10px;
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08125rem;
}

.navbar {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .link_visible {
  color: #292929;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #545454;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
}

.navbar ul li:nth-child(2) {
  border-bottom: 3px #F1CDB3 solid;
  color: #292929;
}

.navbar ul li:hover {
  border-bottom: 3px #F1CDB3 solid;
}

.navbar ul li:hover a:hover {
  cursor: pointer;
  color: #292929;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pets img {
  width: 180px;
  height: 180px;
  border: 5px solid white;
}

/*
.pets {
    padding-top: 118px;
    padding-bottom: 100px;
    background-color: $color-light-l;

    &_wrapper {
        padding-top: 83px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_title {
        span {
            display: block;
        }
        max-width: 400px;
        text-align: center;
        color: $color-dark-l;
        @include h3();
    }

    &_content {
        width: 100%;
        display: flex;
        align-items: center;

        .pets_cards {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 59px;
            column-gap: 40px;
            row-gap: 30px;
            height: 900px;
            overflow: hidden;
        }

        .pets_card {
            display: flex;
            flex-direction: column;
            border-radius: 9px;

            &:hover {
                box-shadow: $card-hover;
            }

            &-image {
                width: 100%;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 30px;
                padding-left: 2px;
            }

            &-title {
                margin: 30px 0;
                text-align: center;
                color: $color-dark-l;
                @include h4();
            }

            &-button {
                @include button_secondary();
                color: $color-dark-3xl;
            }
        }
    }

    &_navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        max-width: 340px;

        &-button {
            padding-bottom: 12px;
        }

        &-button_inactive {
                box-shadow:inset 0 0 0 2px $color-dark-s;
                border-radius: 100%;
                transition-duration: 0.5s;
                width: 52px;
                height: 52px;
                padding: 10px;
                background: none;
                border: none;
                outline: none;
                margin-right: 20px;
                @include h4();
        }

        &-button_active {
                background: $color-primary-color;
                box-shadow:inset 0 0 0 2px $color-primary-color;
                border-radius: 100%;
                transition-duration: 0.5s;
                width: 52px;
                height: 52px;
                padding: 10px;
                cursor: pointer;
                border: none;
                outline: none;
                padding-bottom: 12px;
                @include h4();
                
                &:hover {
                    box-shadow: none;
                    background-color: $color-primary-light;
                }
        }

        &-button_reverted {
            @include slider_button();
            color: $color-dark-3xl;
            margin-left: 20px;
            padding-bottom: 12px;
            @include h4();
        }
    }

    &_button {
        letter-spacing: 0.06rem;
        @include button_primary();
    }
}

.footer {
    background: $footer-gradient-background;
  

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-image {
            max-width: 300px;
            max-height: 310px;
        }
    }

    .content_section {
        display: flex;
        justify-content: space-between;
        padding: 16px 166px 0 0;
        column-gap: 160px;

        &-location a {
            margin-top: 33px;
            margin-bottom: 33px;
        }

        &-contacts a {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        &-title {
            width: 279px;
            color: $color-light-xl;
            @include h3();
        }

        &-info {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        &_info-title{
            span {
                display: block;
            }

            margin-left: 20px;
            @include h4();
            color: $color-primary-color;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .wrapper {
        padding: 0 10px;
    }

    .header {
        padding: 30px 0;

        .logo_subtitle {
            margin-top: 12px;
        }
    }

    .navbar {
        margin-top: 20px;
        margin-right: 43px;
        background-image: url(../../assets/icons/Burger.svg);
        max-width: 30px;
        max-height: 22px;
    }

    .navbar ul{
        display: none;
    }

    .pets {
        padding-top: 80px;
        padding-bottom: 42px;

        &_title {
            @include h3-mobile();
        }

        .pets_content .pets_cards {
            margin-top: 41px;
            height: 1347px;
        }

        &_navigation {
            width: 300px;
            column-gap: 10px;

            &-button_inactive, &-button_inactive, &-button_reverted {
                margin: 0;
            }
        }
    }

    .footer {
        &_wrapper {
            padding: 30px 0 0 0;
        }

        .content_section {
            flex-wrap: wrap;
            padding: 0 0 7px 0;

            &-contacts{
                margin: 0 11px;

                a {
                    margin-left: 13px;
                    margin-right: 13px;

                    & + a {
                        margin-left: 19px;
                    }
                }
            }

            &-location {
                a {
                    margin-top: 40px;
                }

                .content_section-title {
                    margin: 0 11px;
                }
            }

            &-title {
                @include h3-mobile();
                text-align: center;
            }
        }

        &_content-image {
            margin: 0 20px;
            max-width: 260px;
            max-height: 269px;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
        padding: 0 30px;
    }

    .header {
        padding: 30px 0;
    }

    .pets {
        padding-bottom: 76px;

        &_content .pets_cards {
            margin-top: 29px;
            height: 1345px;
        }
    }

    .footer {
        &_wrapper {
            padding: 30px 34px 0;
        }

        &_content {
            flex-wrap: wrap;  
        }

        .footer_content-image {
            margin: 25px auto 0 auto;
        }

        .content_section {
            padding: 0;
            column-gap: 59px;

            &-title {
                margin-bottom: 40px;
            }

            &-info {
                margin-bottom: 32px;
                margin-top: -7px;
            }

            &-location {
                .content_section-title {
                    margin: 0;
                }
            }
        }
    }
}*/
/*# sourceMappingURL=pets.css.map */